body {
    color: #ddd;
    background-color: #333;
    font-family: Calibri;
    text-align: center;
}

.keyboard,
.game-state-alert,
.reset-button,
.difficulty-settings {
    margin-top: 10px;
    margin-bottom: 10px;
}