body {
    color: #ddd;
    background-color: #333;
    font-family: Calibri;
    text-align: center;
}

.keyboard,
.start-button,
.difficulty-settings {
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-state-alert {
    margin-top: 20px;
    margin-bottom: 10px;
}

.secret-word {
    margin-bottom: 20px;
}

.letter-field {
    font-size: 2em;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 3px solid;
    width: 25px;
    display: inline-block;
}

.start-button {
    width: 100px;
    height: 30px;
    font-size: 1.05em;
}